In [ ]:
# Program 1
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
print("Sum:", a + b)

In [ ]:
# Program 2
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
print("Difference:", a - b)

In [ ]:
# Program 3
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
print("Product:", a * b)

In [ ]:
# Program 4
a = float(input("Enter numerator: "))
b = float(input("Enter denominator: "))
if b != 0:
    print("Quotient:", a / b)
else:
    print("Division by zero is not allowed.")

In [ ]:
# Program 5
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
if b != 0:
    print("Sum:", a + b)
    print("Difference:", a - b)
    print("Product:", a * b)
    print("Quotient:", a / b)
else:
    print("Division by zero is not allowed for the division operation.")

In [ ]:
# Program 6
hours = float(input("Enter hours: "))
print("Minutes:", hours * 60)

In [ ]:
# Program 7
minutes = float(input("Enter minutes: "))
print("Hours:", minutes / 60)

In [ ]:
# Program 8
dollars = float(input("Enter dollars: "))
print("Rupees:", dollars * 48)

In [ ]:
# Program 9
rupees = float(input("Enter rupees: "))
print("Dollars:", rupees / 48)

In [ ]:
# Program 10
dollars = float(input("Enter dollars: "))
rupees = dollars * 48
pounds = rupees / 70
print("Pounds:", pounds)

In [ ]:
# Program 11
grams = float(input("Enter grams: "))
print("Kilograms:", grams / 1000)

In [ ]:
# Program 12
kgs = float(input("Enter kilograms: "))
print("Grams:", kgs * 1000)

In [ ]:
# Program 13
bytes_val = float(input("Enter bytes: "))
print("KB:", bytes_val / 1024)
print("MB:", bytes_val / (1024 ** 2))
print("GB:", bytes_val / (1024 ** 3))

In [ ]:
# Program 14
celsius = float(input("Enter Celsius: "))
fahrenheit = (9/5) * celsius + 32
print("Fahrenheit:", fahrenheit)

In [ ]:
# Program 15
fahrenheit = float(input("Enter Fahrenheit: "))
celsius = 5/9 * (fahrenheit - 32)
print("Celsius:", celsius)

In [ ]:
# Program 16
P = float(input("Enter principal amount: "))
R = float(input("Enter rate of interest: "))
N = float(input("Enter time period: "))
I = (P * R * N) / 100
print("Interest:", I)

In [ ]:
# Program 17
L = float(input("Enter side length of the square: "))
A = L ** 2
P = 4 * L
print("Area:", A)
print("Perimeter:", P)

In [ ]:
# Program 18
L = float(input("Enter length of the rectangle: "))
B = float(input("Enter breadth of the rectangle: "))
A = L * B
P = 2 * (L + B)
print("Area:", A)
print("Perimeter:", P)

In [ ]:
# Program 19
R = float(input("Enter radius of the circle: "))
A = (22/7) * R * R
print("Area:", A)

In [ ]:
# Program 20
H = float(input("Enter height of the triangle: "))
L = float(input("Enter base of the triangle: "))
A = (H * L) / 2
print("Area:", A)

In [ ]:
# Program 21
gross_salary = float(input("Enter gross salary: "))
allowance = 0.1 * gross_salary
deduction = 0.03 * gross_salary
net_salary = gross_salary + allowance - deduction
print("Net Salary:", net_salary)

In [ ]:
# Program 22
gross_sales = float(input("Enter gross sales: "))
discount = 0.1 * gross_sales
net_sales = gross_sales - discount
print("Net Sales:", net_sales)

In [ ]:
# Program 23
s1 = float(input("Enter marks for subject 1: "))
s2 = float(input("Enter marks for subject 2: "))
s3 = float(input("Enter marks for subject 3: "))
total = s1 + s2 + s3
average = total / 3
print("Total:", total)
print("Average:", average)

In [ ]:
# Program 24
a = input("Enter first value: ")
b = input("Enter second value: ")
a, b = b, a
print("After swapping:")
print("First value:", a)
print("Second value:", b)